*{
    padding: 0px;
    margin: 0px;
}
body{
    /* background-color: rgb(135, 107, 161); */
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    height: 96vh;
    width: 55vw;
    margin-top: 5%;
    /* background-color: blanchedalmond; */
    border-radius: 25px;
}
h1{
    text-decoration: underline;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 10px 65px 10px ;
}
h2{
    margin: 12px 50px ;
}
.btn{
    width: 75%;
    max-height: 100%;
    display: block;
    margin: 5px auto 5px auto;
    font-size: 1rem;
    padding: 10px;
    border-radius: 25px;
    background-color: white;
}

.btn:hover{
    /* background-color: rgb(117, 177, 177); */
    cursor: pointer;
}
.nextbtn{
    height:10% ;
    width: 20%;
    border-radius: 20px;
    font-size: 1rem;
    margin: 12px auto 0px auto;
    display: flex;
    justify-content: center;
    
    align-items: center;
    cursor: pointer;
}
.correct{
    background-color: rgb(150, 212, 150);
    font-weight: bold;

}
.incorrect{
    background-color: rgb(209, 129, 129);
    font-weight: bold;
}